{
	"globals": {
		"circleAssign": true,
		"Observable": true,
		"tinydate": true,
		"Sortable": true,
		"initsettings": true,
		"saveSettings": true,
		"loadlinks": true,
		"initlinks": true,
		"serializeContainer": true,
		"blinkElem": true,
		"settings": true,
		"Container": true,
		"containerObj": true,
		"LinkElem": true
	}
}